body{
	text-align: center;
	font-family: "Verdana";
}

#container{
	background-color: red;
	color: #fff;
	margin-left: 15%;
	width: 70%;
	padding: 0 0 20px 0;
}

#cabecera{
	background-color: yellow;
	padding: 20px 2%;
	font-size:  1.2em;
}